/*  your css code here. If applicable */
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.line {
  background-color: Black;
  width: 200px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
}
